@use "variables" as v;
@use "mixins" as m;

footer {
    display: flex;
    flex-direction: column;
  
    background-color: v.$sixthcolor; 

    @include m.desktop {

    }

    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        align-items: center;
        padding: 0px;
        margin: 0px;
        margin-top: 20px;

        @include m.desktop {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 0px;
        }

        li {
            margin: 5px;

            @include m.desktop {
                margin: 0px;
                display: flex;
                padding: 20px;
                padding-bottom: 10px;
            }
        }
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;

        @include m.desktop {
    
        }

        a {
            i {
                color: black;
                margin: 0px;
                padding: 20px;
                font-size: 26px;
            }
        }
    }
}

