@use "variables" as v;

/* Responsivitet */

    @mixin desktop {
        @media screen and (min-width:v.$desktop_breakpoint) {
            @content;
        }     
    }

/* Produkterna */

@mixin product($background-image: url("../assets/Golfcourse_image.jpg")){
    .product { 
        &__imageContainer {
        display: flex;
        justify-content: center;

            &__img {
                background-image: $background-image;
                background-position: center; 
                background-size: contain;
                height: 250px;
                width: 250px;
            }
        }
    }
}

@mixin productPage($background-image: url("../assets/Golfcourse_image.jpg")){
    .product { 
        &__imageContainer {
        display: flex;

            &__img {
                background-image: $background-image;
                background-position: center; 
                background-size: contain;
            }
        }
    }
}

/* Pilar */

// @mixin arrow(){
//     #arrowLink {
//         display: flex;
//         justify-content: left;
//         // färg etc
//         cursor: pointer;
//         text-decoration: none;
//         color: black;
        
//         i{
//             display: flex;
//             font-size: 20px;
//             height: 30px;
//             justify-content: left;
//             margin-top: 10px;
//             margin-left: 10px;

//             @include desktop {
//                 margin-left: 25px;
//             }
//         }

//         i:hover {
//             cursor: pointer;
//             font-size: 25px;
//         }
//     }
// }