@use "mixins" as m;

#productsContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    .product {
        height: 300px;
        width: 300px; 
        border: 1px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin-top: 10px;

        &__headcover1 {
            @include m.product(url("../assets/products/Headcover_1.jpg"));
        }

        &__headcover2 {
            @include m.product(url("../assets/products/Headcover_2.jpg"));
        }

        &__headcover3 {
            @include m.product(url("../assets/products/Headcover_3.jpg"));
        }

        &__proFliHi {
            @include m.product(url("../assets/products/Pro_Fli_Hi.jpg"));
        }

        &__stealthUDI {
            @include m.product(url("../assets/products/Stealth_UDI.png"));
        }

        &__u510 {
            @include m.product(url("../assets/products/U510.jpg"));
        }

        &__tp5Pop {
            @include m.product(url("../assets/products/TP5_PIX_ROCKET_POP.jpg"));
        }

        &__tp5Sushi {
            @include m.product(url("../assets/products/TP5_PIX_SUSHI.jpg"));
        }

        &__tp5Spider {
            @include m.product(url("../assets/products/TP5_PIX_SPIDER.jpg"));
        }

        &__description {
            display: none;
        }
    }

}