


/* Colors */
$primarycolor: #000000; /* Svart */
$secondarycolor:#ffffff; /* Vit */
$thirdcolor: #898980; /* Mörkgrå */
$forthcolor: #a9b2ac; /* Grå */ 
$fifthcolor:#69a57b; /* Mörkgrön */
$sixthcolor:#d1d6d3; /* Ljusgrå */
$seventhcolor:#8db197; /* Ljusgrön */
